<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Online Auction Home Page</title>
    <link rel="stylesheet" href="/aroma-template/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/aroma-template/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/aroma-template/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/aroma-template/vendors/linericon/style.css">
    <link rel="stylesheet" href="/aroma-template/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="/aroma-template/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/aroma-template/vendors/owl-carousel/owl.carousel.min.css">

    <link rel="stylesheet" href="/aroma-template/css/style.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" media="screen" href="/css/particles.css">

    <link rel="stylesheet" href="style.css"/>


</head>
<body>
<!--================ Start Header Menu Area =================-->
<header class="header_area">



    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <h2 class="navbar-brand logo">Online Auction </h2>
                <a class="navbar-brand logo_h" th:href="@{/home}"><img th:src="@{images/OnlineAuction.jpg}"
                                                                       alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto mr-auto">

                        <li class="nav-item active"><a class="nav-link" href="/home">Home</a></li>

                        <li class="nav-item" sec:authorize="hasRole('PARTICIPANT')"><a href="/myBids"
                                                                                       class="nav-link">My
                            Bids</a></li>

                        <li class="nav-item" sec:authorize="hasRole('ADMIN')"><a href="/addProduct"
                                                                                 class="nav-link">Add
                            Product</a></li>

                        <li class="nav-item" sec:authorize="isAnonymous()"><a class="nav-link"
                                                                              href="/register">Register</a></li>

                        <li class="nav-item">
                            <form th:action="@{/search}" method="get">
                                <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4 bar">
                                    <div class="input-group">
                                        <input type="search" placeholder="Search..." id="search" name="keyword"
                                               autocomplete="off" aria-describedby="button-addon1"
                                               class="form-control border-0 bg-light">
                                        <div class="input-group-append">
                                            <button id="button-addon1" type="submit"
                                                    class="btn btn-link text-primary">
                                                <i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </li>
                        <li>
                            <p>Hello, <span th:text="${userHeaderDto.firstName}"></span></p>
                        </li>
                    </ul>
                    <ul class="nav-shop" sec:authorize="isAuthenticated()">
                          <li class="nav-item" id="log_out"><a class="button button-header" href="/logout">Logout</a></li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>

</header>
<!--================ End Header Menu Area =================-->

<!--================ Start body area =================-->
<div id="particles-js"></div>
<section class="section-margin calc-60px">
    <div class="container">
        <div class="section-intro pb-60px" style="width: 300px">
            <h2>All <span class="section-intro__style">Auctions</span></h2>

        <p sec:authorize="hasRole('PARTICIPANT')" id="extra_info_text">Each auction will be activated for a period of time clearly stating the start and end date. This information is available on the information panel of the web application. </p>

            <p>Here you can see all available auctions.</p>
        </div>
        <div class="row">
            <!-- we need to generate div's as this for each product in our DB-->
            <div th:each="product:${productDtoList}" class="col-md-6 col-lg-4 col-xl-3">
                <div class="card text-center card-product">
                    <div class="card-product__img">
                        <img class="card-img main-img" th:src="${'data:image/png;base64,' + product.base64Image}"
                             alt="">
                    </div>
                    <div class="card-body">
                        <p th:text="${product.category}"></p>
                        <h4 class="card-product__title"><a th:href="'/viewProduct/' + ${product.id}"
                                                           th:text="${product.name}"></a></h4>
                        <p class="card-product__price" th:text="'Current Price : $'+${product.currentPrice}"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-intro pb-60px" style="width: 300px">

            <p>Here you can see all future auctions.</p>
        </div>
        <div class="row">
            <!-- we need to generate div's as this for each product in our DB-->
            <div th:each="product:${futureProductDtoList}" class="col-md-6 col-lg-4 col-xl-3">
                <div class="card text-center card-product">
                    <div class="card-product__img">
                        <img class="card-img main-img" th:src="${'data:image/png;base64,' + product.base64Image}"
                             alt="">
                    </div>
                    <div class="card-body">
                        <p th:text="${product.category}"></p>
                        <h4 class="card-product__title"><a th:href="'/viewProduct/' + ${product.id}"
                                                           th:text="${product.name}"></a></h4>
                        <p class="card-product__price" th:text="'Current Price : $'+${product.currentPrice}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<button onclick="topFunction()" id="myBtn" title="Go to top">&#10148;</button>

<!-- scripts -->

<script type="text/javascript" src="/js/back_to_top_button.js"></script>
<script type="text/javascript" src="/js/particles.js"></script>
<script src="js/app.js"></script>



<!--================ End body area =================-->
</body>
</html>

