<!DOCTYPE html>

<!--Thymeleaf activated-->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Online Auction Register Page</title>
    <!-- Integrate bootstrap   -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}"/>

</head>
<body>
<div class="mainContainer">

    <form th:action="@{/register}" method="post" th:object="${userDto}">
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <input type="text" id="form3Example1" class="form-control" th:field="*{firstName}"/>
                    <label class="form-label" for="form3Example1">First name</label>

                    <p class="error-message"
                       th:each="error: ${#fields.errors('firstName')}"
                       th:text="${error}"></p>
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <input type="text" id="form3Example2" class="form-control" th:field="*{lastName}"/>
                    <label class="form-label" for="form3Example2">Last name</label>

                    <p class="error-message"
                       th:each="error: ${#fields.errors('lastName')}"
                       th:text="${error}"></p>
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <input type="date" id="form3Example3" class="form-control" th:field="*{dateOfBirth}"/>
                    <label class="form-label" for="form3Example2">Date of birth</label>

                    <p class="error-message"
                       th:each="error: ${#fields.errors('dateOfBirth')}"
                       th:text="${error}"></p>
                </div>
            </div>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="email" id="form3Example4" class="form-control" th:field="*{email}"/>
            <label class="form-label" for="form3Example3">Email address</label>

            <p class="error-message"
               th:each="error: ${#fields.errors('email')}"
               th:text="${error}"></p>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" id="form3Example5" class="form-control" th:field="*{password}"/>
            <label class="form-label" for="form3Example4">Password</label>

            <p class="error-message"
               th:each="error: ${#fields.errors('password')}"
               th:text="${error}"></p>
        </div>

        <!-- Auction participants and administrator -->
        <div class="form-outline mb-4">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                       th:value="false" th:field="*{isAdmin}">
                <label class="form-check-label" for="flexRadioDefault1">
                    Auction participant
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                       th:value="true" th:field="*{isAdmin}">
                <label class="form-check-label" for="flexRadioDefault2">
                    Auction administrator
                </label>
            </div>
            <p class="error-message"
               th:each="error: ${#fields.errors('isAdmin')}"
               th:text="${error}"></p>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>

    </form>
</div>
</body>
</html>
